/* line 5, form_elements.css.scss */
.fill-up {
  width: 100%; }

/* line 8, form_elements.css.scss */
form {
  overflow: hidden;
  *zoom: 1; }

/* line 12, form_elements.css.scss */
form.fill-up {
  width: 100%;
  margin-bottom: 0; }
  /* line 15, form_elements.css.scss */
  form.fill-up input, form.fill-up textarea {
    width: 100%; }

/* line 20, form_elements.css.scss */
.note {
  font-style: italic;
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.5);
  font-size: 12px;
  padding: 0px 0px 10px 0px; }
  /* line 27, form_elements.css.scss */
  .note.large {
    font-size: 12px; }
    /* line 29, form_elements.css.scss */
    .note.large i {
      font-size: 16px; }

/* line 36, form_elements.css.scss */
.box .note {
  font-size: 10px;
  color: #888;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5); }

/* line 44, form_elements.css.scss */
.black-box .note {
  font-size: 10px;
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.5); }

/* line 53, form_elements.css.scss */
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  height: 32px; }
  /* line 54, form_elements.css.scss */
  textarea.input-transparent, input[type="text"].input-transparent, input[type="password"].input-transparent, input[type="datetime"].input-transparent, input[type="datetime-local"].input-transparent, input[type="date"].input-transparent, input[type="month"].input-transparent, input[type="time"].input-transparent, input[type="week"].input-transparent, input[type="number"].input-transparent, input[type="email"].input-transparent, input[type="url"].input-transparent, input[type="search"].input-transparent, input[type="tel"].input-transparent, input[type="color"].input-transparent, .uneditable-input.input-transparent {
    -webkit-box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.3);
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.3);
    background: rgba(0, 0, 0, 0.25);
    border: none;
    color: #fff;
    text-shadow: 0px 1px 1px rgba(17, 17, 17, 0.5);
    font-size: 100%;
    padding: 5px 10px; }
    /* line 15, mixin_helpers.css.scss */
    textarea.input-transparent::-webkit-input-placeholder, input[type="text"].input-transparent::-webkit-input-placeholder, input[type="password"].input-transparent::-webkit-input-placeholder, input[type="datetime"].input-transparent::-webkit-input-placeholder, input[type="datetime-local"].input-transparent::-webkit-input-placeholder, input[type="date"].input-transparent::-webkit-input-placeholder, input[type="month"].input-transparent::-webkit-input-placeholder, input[type="time"].input-transparent::-webkit-input-placeholder, input[type="week"].input-transparent::-webkit-input-placeholder, input[type="number"].input-transparent::-webkit-input-placeholder, input[type="email"].input-transparent::-webkit-input-placeholder, input[type="url"].input-transparent::-webkit-input-placeholder, input[type="search"].input-transparent::-webkit-input-placeholder, input[type="tel"].input-transparent::-webkit-input-placeholder, input[type="color"].input-transparent::-webkit-input-placeholder, .uneditable-input.input-transparent::-webkit-input-placeholder {
      color: #fff; }
    /* line 19, mixin_helpers.css.scss */
    textarea.input-transparent:-moz-placeholder, input[type="text"].input-transparent:-moz-placeholder, input[type="password"].input-transparent:-moz-placeholder, input[type="datetime"].input-transparent:-moz-placeholder, input[type="datetime-local"].input-transparent:-moz-placeholder, input[type="date"].input-transparent:-moz-placeholder, input[type="month"].input-transparent:-moz-placeholder, input[type="time"].input-transparent:-moz-placeholder, input[type="week"].input-transparent:-moz-placeholder, input[type="number"].input-transparent:-moz-placeholder, input[type="email"].input-transparent:-moz-placeholder, input[type="url"].input-transparent:-moz-placeholder, input[type="search"].input-transparent:-moz-placeholder, input[type="tel"].input-transparent:-moz-placeholder, input[type="color"].input-transparent:-moz-placeholder, .uneditable-input.input-transparent:-moz-placeholder {
      color: #fff; }
  /* line 67, form_elements.css.scss */
  textarea.error, input[type="text"].error, input[type="password"].error, input[type="datetime"].error, input[type="datetime-local"].error, input[type="date"].error, input[type="month"].error, input[type="time"].error, input[type="week"].error, input[type="number"].error, input[type="email"].error, input[type="url"].error, input[type="search"].error, input[type="tel"].error, input[type="color"].error, .uneditable-input.error {
    border: 1px solid #AD6262;
    color: #AD6262; }
    /* line 70, form_elements.css.scss */
    textarea.error i, input[type="text"].error i, input[type="password"].error i, input[type="datetime"].error i, input[type="datetime-local"].error i, input[type="date"].error i, input[type="month"].error i, input[type="time"].error i, input[type="week"].error i, input[type="number"].error i, input[type="email"].error i, input[type="url"].error i, input[type="search"].error i, input[type="tel"].error i, input[type="color"].error i, .uneditable-input.error i {
      color: #AD6262; }
    /* line 71, form_elements.css.scss */
    textarea.error:focus, input[type="text"].error:focus, input[type="password"].error:focus, input[type="datetime"].error:focus, input[type="datetime-local"].error:focus, input[type="date"].error:focus, input[type="month"].error:focus, input[type="time"].error:focus, input[type="week"].error:focus, input[type="number"].error:focus, input[type="email"].error:focus, input[type="url"].error:focus, input[type="search"].error:focus, input[type="tel"].error:focus, input[type="color"].error:focus, .uneditable-input.error:focus {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }

/* line 77, form_elements.css.scss */
.input {
  position: relative; }
  /* line 79, form_elements.css.scss */
  .input .input-error {
    position: absolute;
    top: 8px;
    right: 10px;
    font-size: 16px;
    color: #AD6262; }

/* line 88, form_elements.css.scss */
textarea {
  height: auto; }

/* line 93, form_elements.css.scss */
.prepend-transparent, .append-transparent {
  position: relative; }
  /* line 96, form_elements.css.scss */
  .prepend-transparent input[type="text"], .append-transparent input[type="text"] {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px; }
  /* line 101, form_elements.css.scss */
  .prepend-transparent .add-on, .append-transparent .add-on {
    -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 0px 0px inset;
    -moz-box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 0px 0px inset;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 0px 0px inset;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    white-space: nowrap;
    display: inline-block;
    text-overflow: ellipsis;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 11px;
    font-weight: bold;
    padding: 6px 10px;
    text-align: center;
    color: #434343;
    line-height: 1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    padding: 0 7px;
    position: absolute;
    top: 5px;
    border: none;
    height: 20px;
    line-height: 20px; }

/* line 115, form_elements.css.scss */
.prepend-transparent input[type="text"] {
  padding-left: 35px; }
/* line 119, form_elements.css.scss */
.prepend-transparent .add-on {
  left: 5px; }

/* line 125, form_elements.css.scss */
.append-transparent input[type="text"] {
  padding-right: 35px; }
/* line 129, form_elements.css.scss */
.append-transparent .add-on {
  height: 20px;
  line-height: 20px;
  display: inline-block;
  top: -5px;
  position: relative;
  right: 35px; }

/* line 139, form_elements.css.scss */
.form-actions {
  margin-bottom: 0;
  padding-bottom: 20px;
  -webkit-border-radius: 0 0;
  -moz-border-radius: 0 0 6px 6px / 0 0 6px 6px;
  border-radius: 0 0 6px 6px / 0 0 6px 6px; }

/* line 145, form_elements.css.scss */
.form-horizontal {
  margin-bottom: 0;
  padding-top: 20px; }

/* line 150, form_elements.css.scss */
.form-vertical {
  padding-top: 20px; }
  /* line 153, form_elements.css.scss */
  .form-vertical .control-group {
    padding-left: 20px;
    padding-right: 20px; }
    /* line 157, form_elements.css.scss */
    .form-vertical .control-group input {
      width: 100%; }

/* line 197, form_elements.css.scss */
.normal-check {
  display: none; }
  /* line 166, form_elements.css.scss */
  .normal-check:checked + label:before {
    background-position: 0 -38px; }
  /* line 170, form_elements.css.scss */
  .normal-check:checked + label:hover:before {
    background-position: 0 -38px; }
  /* line 174, form_elements.css.scss */
  .normal-check + label {
    padding-left: 25px; }
    /* line 177, form_elements.css.scss */
    .normal-check + label:before {
      content: "";
      background: url('../images/checkbox2.png') no-repeat;
      background-position: 0 0;
      height: 19px;
      width: 18px;
      position: absolute;
      margin-left: -25px; }
    /* line 187, form_elements.css.scss */
    .normal-check + label:hover:before {
      background-position: 0 -19px; }
    /* line 191, form_elements.css.scss */
    .normal-check + label:active:before {
      background-position: 0 -38px; }

/* line 201, form_elements.css.scss */
.normal-radio {
  display: none; }
  /* line 166, form_elements.css.scss */
  .normal-radio:checked + label:before {
    background-position: 0 -38px; }
  /* line 170, form_elements.css.scss */
  .normal-radio:checked + label:hover:before {
    background-position: 0 -38px; }
  /* line 174, form_elements.css.scss */
  .normal-radio + label {
    padding-left: 25px; }
    /* line 177, form_elements.css.scss */
    .normal-radio + label:before {
      content: "";
      background: url('../images/radio.png') no-repeat;
      background-position: 0 0;
      height: 19px;
      width: 18px;
      position: absolute;
      margin-left: -25px; }
    /* line 187, form_elements.css.scss */
    .normal-radio + label:hover:before {
      background-position: 0 -19px; }
    /* line 191, form_elements.css.scss */
    .normal-radio + label:active:before {
      background-position: 0 -38px; }

/* line 206, form_elements.css.scss */
.input-group input[type="text"], .input-group input[type="password"], .input-group input[type="datetime"], .input-group input[type="datetime-local"], .input-group input[type="date"], .input-group input[type="month"], .input-group input[type="time"], .input-group input[type="week"], .input-group input[type="number"], .input-group input[type="email"], .input-group input[type="url"], .input-group input[type="search"], .input-group input[type="tel"], .input-group input[type="color"], .input-group .uneditable-input {
  margin: 0;
  margin-bottom: -1px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  display: block;
  border: 1px solid #555;
  background: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding-left: 20px; }
  /* line 207, form_elements.css.scss */
  .input-group input[type="text"]:first-child, .input-group input[type="password"]:first-child, .input-group input[type="datetime"]:first-child, .input-group input[type="datetime-local"]:first-child, .input-group input[type="date"]:first-child, .input-group input[type="month"]:first-child, .input-group input[type="time"]:first-child, .input-group input[type="week"]:first-child, .input-group input[type="number"]:first-child, .input-group input[type="email"]:first-child, .input-group input[type="url"]:first-child, .input-group input[type="search"]:first-child, .input-group input[type="tel"]:first-child, .input-group input[type="color"]:first-child, .input-group .uneditable-input:first-child {
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 6px 6px -6px inset;
    -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 6px 6px -6px inset;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 6px 6px -6px inset; }
  /* line 212, form_elements.css.scss */
  .input-group input[type="text"]:last-child, .input-group input[type="password"]:last-child, .input-group input[type="datetime"]:last-child, .input-group input[type="datetime-local"]:last-child, .input-group input[type="date"]:last-child, .input-group input[type="month"]:last-child, .input-group input[type="time"]:last-child, .input-group input[type="week"]:last-child, .input-group input[type="number"]:last-child, .input-group input[type="email"]:last-child, .input-group input[type="url"]:last-child, .input-group input[type="search"]:last-child, .input-group input[type="tel"]:last-child, .input-group input[type="color"]:last-child, .input-group .uneditable-input:last-child {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -ms-border-radius: 0 0 4px 4px;
    -o-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    margin-bottom: 0; }
