@{
use Scabbia\Extensions\Helpers\Html;
use Scabbia\Extensions\I18n\I18n;
}
        <div class="span12">
            <select id="languageSelect">@Html::selectOptions(I18n::$languages, I18n::$language['key'], 'name')</select>

            <div class="footer">
                <div>2014 &copy; <a href="https://github.com/larukedi/pm">github.com/larukedi/pm</a></div>
            </div>
        </div>

        <script type="text/javascript">
        	$l.ready(function() {
        		var languageSelect = $l(['#languageSelect']);

        		$l.dom.setEvent(
        			languageSelect,
        			'change',
        			function(ev, elem) {
        				location.href = $l.baseLocation + '?lang=' + elem.options[elem.selectedIndex].value;
        			}
        		);
        	});
        </script>