@{
use Scabbia\Extensions\Helpers\Html;
use Scabbia\Extensions\I18n\I18n;
}
        <div class="span12">
            <div class="footer">
                <div>2014 &copy; <a href="http://eser.ozvataf.com/">eser.ozvataf.com</a></div>
            </div>
        </div>

        <script type="text/javascript">
        	$l.ready(function() {
        		var languageSelect = $l(['#languageSelect']);

        		$l.dom.setEvent(
        			languageSelect,
        			'change',
        			function(ev, elem) {
        				location.href = $l.baseLocation + '?lang=' + elem.options[elem.selectedIndex].value;
        			}
        		);
        	});
        </script>