@{
use Scabbia\Extensions\Logger\QuickProfiler;
}

    <script type="text/html" id="template-notification">
        <div class="notification animated fadeInLeftMiddle fast{{ item.itemClass }}">
            <div class="left">
                <div style="background-image: url({{ item.imagePath }})" class="{{ item.imageClass }}"></div>
            </div>
            <div class="right">
                <div class="inner">{{ item.text }}</div>
                <div class="time">{{ item.time }}</div>
            </div>

            <i class="icon-remove-sign hide"></i>
        </div>
    </script>

    <script type="text/html" id="template-notifications">
        <div class="container">
            <div class="row" id="notifications-wrapper">
                <div id="notifications" class="{{ bootstrapPositionClass }} notifications animated">
                    <div id="dismiss-all" class="dismiss-all button blue">Dismiss all</div>
                    <div id="content">
                        <div id="notes"></div>
                    </div>
                </div>
            </div>
        </div>
    </script>

    @{ QuickProfiler::init(); }

    <script type="text/javascript">
        // main shortcuts
        $l.dom.setEvent(
            $l('body'),
            'keypress',
            function(ev, element) {
                var code = (ev.keyCode ? ev.keyCode : ev.which);

                if (
                    document.activeElement.getAttribute('contenteditable') != null ||
                        document.activeElement.tagName == 'TEXTAREA' ||
                        document.activeElement.tagName == 'SELECT' ||
                        document.activeElement.tagName == 'INPUT'
                    ) {
                    return;
                }

                if (code == 'q'.charCodeAt(0)) {
                    pqp();
                    return false;
                }
            }
        );

        $l.contentEnd();

        prettyPrint();
    </script>

</body>
</html>
