@{
use Scabbia\Extensions\Logger\QuickProfiler;
use Scabbia\Extensions\Http\Http;
}

    @{ QuickProfiler::init(); }

    <script type="text/javascript">
        // main shortcuts
        $l.dom.setEvent(
            $l('body'),
            'keypress',
            function(ev, element) {
                var code = (ev.keyCode ? ev.keyCode : ev.which);

                if (
                    document.activeElement.getAttribute('contenteditable') != null ||
                        document.activeElement.tagName == 'TEXTAREA' ||
                        document.activeElement.tagName == 'SELECT' ||
                        document.activeElement.tagName == 'INPUT'
                    ) {
                    return;
                }

                if (code == 'q'.charCodeAt(0)) {
                    pqp();
                    return false;
                }
            }
        );

        $l.ready(function() {
            $('.cleditor').cleditor({
                docCSSFile: [ '@Http::url('scabbia/jquery.cleditor/jquery.cleditor.css')' ],
                width: '100%'
            });
        });

        $l.contentEnd();
    </script>

</body>
</html>
