@{
use Scabbia\Extensions\Helpers\Html;
use Scabbia\Extensions\Http\Http;
use Scabbia\Framework;
}
@Html::doctype('html5')
<html>
<head>
    <title>PM</title>
    <meta charset="utf-8" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

    <link rel="shortcut icon" href="@$root/favicon.ico" type="image/x-icon" />

    <script type="text/javascript" src="@Http::url('scabbia.js?core')"></script>
    <script type="text/javascript" src="@Http::url('assets/javascripts/application.js')"></script>
    <script type="text/javascript" src="@Http::url('assets/javascripts/docs.js')"></script>
    <script type="text/javascript" src="@Http::url('assets/javascripts/docs_charts.js')"></script>
    <script type="text/javascript" src="@Http::url('assets/javascripts/documentation.js')"></script>
    <script type="text/javascript" src="@Http::url('assets/javascripts/prettify.js')"></script>

    <!--[if lt IE 9]>
    <script type="text/javascript" src="@Http::url('assets/javascripts/html5shiv.js')"></script>
    <script type="text/javascript" src="@Http::url('assets/javascripts/excanvas.js')"></script>
    <script type="text/javascript" src="@Http::url('assets/javascripts/iefix.js')"></script>
    <![endif]-->

    <link type="text/css" href="@Http::url('scabbia.css?core')" rel="stylesheet" media="all" />
    <link type="text/css" href="@Http::url('assets/stylesheets/application.css')" rel="stylesheet" media="screen" />
    <link type="text/css" href="@Http::url('assets/stylesheets/prettify.css')" rel="stylesheet" media="screen" />
    <!--[if lt IE 9]>
    <link type="text/css" href="@Http::url('assets/stylesheets/iefix.css')" rel="stylesheet" media="screen" />
    <![endif]-->
</head>
<body class="@$controller->route['controller']">

	<script type="text/javascript">
			$l.contentBegin('main', '@rtrim(Framework::$siteroot, '/')');
	</script>

    <div id="modal" class="black-box modal hide fade">
        <div class="modal-header tab-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <span>Some modal title</span>
        </div>
        <div class="modal-body separator">
            <h4>Text in a modal</h4>
            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem.</p>
        </div>
        <div class="modal-footer">
            <div class="inner-well">
                <a class="button mini rounded light-gray" data-dismiss="modal">Close</a>
                <a class="button mini rounded blue">Save changes</a>
            </div>
        </div>
    </div>

    <div id="modal-gallery" class="black-box modal modal-gallery hide fade">
        <div class="modal-header tab-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <span class="modal-title"></span>
        </div>
        <div class="modal-body"><div class="modal-image"></div></div>
        <div class="modal-footer">
            <div class="pull-left">
                You can also change the images<br/> by scrolling the mouse wheel!
            </div>
            <div class="pull-right">
                <a class="button blue modal-next">Next <i class="icon-arrow-right icon-white"></i></a>
                <a class="button gray modal-prev"><i class="icon-arrow-left icon-white"></i> Previous</a>
                <a class="button green modal-play modal-slideshow" data-slideshow="5000"><i class="icon-play icon-white"></i> Slideshow</a>
                <a class="button black" target="_blank"><i class="icon-download"></i> Download</a>
            </div>
        </div>
    </div>
    <nav id="primary" class="main-nav">
        <ul>

            <li class="">
                <a href="@Http::url('home')">
                    <i class="icon-dashboard"></i> Home
                </a>
            </li>

            <li class="">
                <a href="@Http::url('mypage')">
                    <i class="icon-plus-sign"></i> Mypage
                </a>
            </li>

            <li class="">
                <a href="@Http::url('projects')">
                    <i class="icon-bar-chart"></i> Projects
                </a>
            </li>





            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown"><i class="icon-share-alt"></i>More <span class="caret"></span></a>

                <ul class="dropdown-menu">
                    <li>
                        <a href="@Http::url('home/404')">
                            <i class="icon-warning-sign"></i> Error 404
                        </a>
                    </li>



                    <li>
                        <a href="@Http::url('documentation')">
                            <i class="icon-book"></i> Documentation
                        </a>
                    </li>


                    <li class="divider"></li>
                    <li>
                        <a href="@Http::url('gate')">
                            <i class="icon-off"></i> Log out (login page)
                        </a>
                    </li>
                </ul>
            </li>

        </ul>
    </nav>
