@{
use Scabbia\Extensions\Logger\QuickProfiler;
use Scabbia\Extensions\Http\Http;
use Scabbia\Extensions\I18n\I18n;
}

    <div class="top-nav">
        <div class="container-fluid">
            <div class="row-fluid search-button-bar-container">
                <div class="span12">
                    <ul class="breadcrumb">
                        @{ $breadcrumbLength = count($controller->breadcrumbs); }
                        @foreach ($controller->breadcrumbs as $breadcrumbKey => $breadcrumb) {
                            <li@{ if (--$breadcrumbLength === 0) { echo ' class="active"'; } }><a href="@Http::url($breadcrumb[1])">@{ if ($breadcrumb[0] !== null) { echo '<i class="' . $breadcrumb[0] . '"></i> '; } }@$breadcrumbKey</a></li>
                        }
                    </ul>
                    <a class="search-button-trigger" href="#"><i class="icon-search"></i></a>
                </div>
            </div>

            <div class="row-fluid search-bar-nav">
                <div class="span12">
                    <form>
                        <input type="text" class="search" placeholder="@I18n::_('Search...')">
                    </form>
                </div>
            </div>
        </div>
    </div>
