@{
use Scabbia\Extensions\Panel\Controllers\Panel;
use Scabbia\Extensions\I18n\I18n;
use Scabbia\Extensions\Views\Views;

Views::viewFile('{core}views/panel/header.php');

}
    <table id="pageMiddleTable">
        <tr>
            <td id="pageMiddleSidebar">
                <div class="menuDivContainer">
                    @{ Views::viewFile('{core}views/panel/sectionError.php', Panel::$module); }
                    @{ Views::viewFile('{core}views/panel/sectionMenu.php', Panel::$module); }
                </div>
                <div class="clearfix"></div>
            </td>
            <td id="pageMiddleSidebarToggle">
                &laquo;
            </td>
            <td id="pageMiddleContent">
                <div class="topLine"></div>
                <div class="middleLine">

                    <h2 class="iconxcategories">@I18n::_('Test')</h2>

                    Test page

                </div>
                <div class="bottomLine"></div>
                <div class="clearfix"></div>
            </td>
            <td id="pageMiddleExtra">
            </td>
        </tr>
    </table>
@{ Views::viewFile('{core}views/panel/footer.php'); }