/* line 5, breadcrumbs.css.scss */
.breadcrumb {
  background: transparent;
  margin: 0;
  padding-left: 0; }
  /* line 11, breadcrumbs.css.scss */
  .breadcrumb li a {
    line-height: 13px;
    background: #3a3a40;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVjNWM2NSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhM2E0MCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5c5c65), color-stop(100%, #3a3a40));
    background-image: -webkit-linear-gradient(top, #5c5c65, #3a3a40);
    background-image: -moz-linear-gradient(top, #5c5c65, #3a3a40);
    background-image: -o-linear-gradient(top, #5c5c65, #3a3a40);
    background-image: linear-gradient(top, #5c5c65, #3a3a40);
    border: 1px solid #2e2e33;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 1px;
    color: white;
    padding: 3px 7px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px; }
    /* line 69, button_mixins.css.scss */
    .breadcrumb li a.inset {
      text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 1px; }
    /* line 73, button_mixins.css.scss */
    .breadcrumb li a.disabled {
      background: #515151;
      text-shadow: none;
      border: 1px solid #3a3a40;
      cursor: default; }
      /* line 35, button_mixins.css.scss */
      .breadcrumb li a.disabled:hover, .breadcrumb li a.disabled:active {
        background: #515151;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none; }
    /* line 77, button_mixins.css.scss */
    .breadcrumb li a:hover {
      background: #46464d;
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY2NjY3MCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzQ2NDY0ZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
      background-size: 100%;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #666670), color-stop(100%, #46464d));
      background-image: -webkit-linear-gradient(top, #666670, #46464d);
      background-image: -moz-linear-gradient(top, #666670, #46464d);
      background-image: -o-linear-gradient(top, #666670, #46464d);
      background-image: linear-gradient(top, #666670, #46464d); }
    /* line 81, button_mixins.css.scss */
    .breadcrumb li a:active {
      background: #46464d;
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY2NjY3MCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzQ2NDY0ZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
      background-size: 100%;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #666670), color-stop(100%, #46464d));
      background-image: -webkit-linear-gradient(top, #666670, #46464d);
      background-image: -moz-linear-gradient(top, #666670, #46464d);
      background-image: -o-linear-gradient(top, #666670, #46464d);
      background-image: linear-gradient(top, #666670, #46464d);
      -webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(0, 0, 0, 0);
      -moz-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(0, 0, 0, 0);
      box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(0, 0, 0, 0); }
  /* line 18, breadcrumbs.css.scss */
  .breadcrumb li.active a {
    background: #318ec5;
    text-shadow: none;
    border: 1px solid #147cb9;
    cursor: default;
    color: white;
    border: 0; }
    /* line 35, button_mixins.css.scss */
    .breadcrumb li.active a:hover, .breadcrumb li.active a:active {
      background: #318ec5;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }
