/* line 5, navs.css.scss */
.top-nav {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background: #2a2a30;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ5NDg1MiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzJhMmEzMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #494852), color-stop(100%, #2a2a30));
  background-image: -webkit-linear-gradient(top, #494852, #2a2a30);
  background-image: -moz-linear-gradient(top, #494852, #2a2a30);
  background-image: -o-linear-gradient(top, #494852, #2a2a30);
  background-image: linear-gradient(top, #494852, #2a2a30);
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid #1D1E21;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); }
  /* line 9, navs.css.scss */
  .top-nav form, .top-nav input {
    margin: 0; }
  /* line 13, navs.css.scss */
  .top-nav .pull-right {
    margin-right: 20px; }

/* line 16, navs.css.scss */
.separator {
  -webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.09);
  -moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.09);
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.09);
  border-bottom: 1px solid #303030; }
  /* line 20, navs.css.scss */
  .separator:last-child {
    border-bottom: none; }

/* line 27, navs.css.scss */
.tab-header {
  line-height: 32px;
  height: 32px;
  padding-left: 15px;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px 5px 0 0 / 5px 5px 0 0;
  border-radius: 5px 5px 0 0 / 5px 5px 0 0;
  background: #2a2a30;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ5NDg1MiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzJhMmEzMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #494852), color-stop(100%, #2a2a30));
  background-image: -webkit-linear-gradient(top, #494852, #2a2a30);
  background-image: -moz-linear-gradient(top, #494852, #2a2a30);
  background-image: -o-linear-gradient(top, #494852, #2a2a30);
  background-image: linear-gradient(top, #494852, #2a2a30);
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid #1D1E21;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5); }
  /* line 38, navs.css.scss */
  .tab-header i {
    color: #fff;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5); }
  /* line 43, navs.css.scss */
  .tab-header .options {
    padding-right: 10px; }
    /* line 46, navs.css.scss */
    .tab-header .options .btn-group > a:hover, .tab-header .options .btn-group.open > a {
      -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6), inset 1px 0px 0px rgba(255, 255, 255, 0.1), inset -1px 0px 0px rgba(255, 255, 255, 0.1), inset 0px -1px 0px rgba(255, 255, 255, 0.1);
      -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6), inset 1px 0px 0px rgba(255, 255, 255, 0.1), inset -1px 0px 0px rgba(255, 255, 255, 0.1), inset 0px -1px 0px rgba(255, 255, 255, 0.1);
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6), inset 1px 0px 0px rgba(255, 255, 255, 0.1), inset -1px 0px 0px rgba(255, 255, 255, 0.1), inset 0px -1px 0px rgba(255, 255, 255, 0.1);
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      border: 1px solid #1D1E21;
      background: #3B3B42;
      color: #fff;
      text-shadow: 0 1px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }
      /* line 34, mixin_helpers.css.scss */
      .tab-header .options .btn-group > a:hover.tex, .tab-header .options .btn-group.open > a.tex {
        background: url('../images/linen-light.png'); }
      /* line 41, mixin_helpers.css.scss */
      .tab-header .options .btn-group > a:hover .separator a, .tab-header .options .btn-group.open > a .separator a {
        color: #fff;
        text-shadow: 0 1px rgba(0, 0, 0, 0.5);
        font-weight: bold; }
        /* line 45, mixin_helpers.css.scss */
        .tab-header .options .btn-group > a:hover .separator a:hover, .tab-header .options .btn-group.open > a .separator a:hover {
          color: #fff; }
    /* line 52, navs.css.scss */
    .tab-header .options .btn-group.open > a i {
      color: #aaa;
      text-shadow: none; }
    /* line 58, navs.css.scss */
    .tab-header .options .btn-group > a {
      cursor: pointer;
      display: inline-block;
      width: 24px;
      height: 24px;
      font-size: 16px;
      line-height: 24px;
      border: 1px solid transparent;
      text-align: center; }
  /* line 71, navs.css.scss */
  .tab-header + .black-box {
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    border-top-color: transparent; }

/* line 77, navs.css.scss */
.box .tab-header {
  color: #666;
  background: #cccccc;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NjY2NjYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
  background-image: linear-gradient(top, #eeeeee, #cccccc);
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid #f8f8f8; }
  /* line 83, navs.css.scss */
  .box .tab-header i {
    color: #666;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5); }

/* line 89, navs.css.scss */
.tabbable.black-box {
  color: #ddd;
  text-shadow: 0px 1px 1px rgba(17, 17, 17, 0.5); }
  /* line 94, navs.css.scss */
  .tabbable.black-box .nav-tabs {
    -webkit-box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.3);
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 10px; }
    /* line 101, navs.css.scss */
    .tabbable.black-box .nav-tabs li {
      margin-bottom: 0;
      margin-left: 10px; }
      /* line 105, navs.css.scss */
      .tabbable.black-box .nav-tabs li a {
        padding: 5px 10px;
        background: #28282c;
        background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQyNDE0OCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI4MjgyYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
        background-size: 100%;
        background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #424148), color-stop(100%, #28282c));
        background-image: -webkit-linear-gradient(top, #424148, #28282c);
        background-image: -moz-linear-gradient(top, #424148, #28282c);
        background-image: -o-linear-gradient(top, #424148, #28282c);
        background-image: linear-gradient(top, #424148, #28282c);
        border: 1px solid #242427;
        -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.2);
        -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.2);
        box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.2);
        color: #B3B3B3;
        text-shadow: 0 -1px rgba(0, 0, 0, 0.7);
        font-weight: bold;
        margin-right: 0; }
        /* line 115, navs.css.scss */
        .tabbable.black-box .nav-tabs li a:hover {
          background: #28282C; }
      /* line 120, navs.css.scss */
      .tabbable.black-box .nav-tabs li.active {
        margin-bottom: -1px;
        border-bottom: 1px solid #42424A; }
        /* line 124, navs.css.scss */
        .tabbable.black-box .nav-tabs li.active a {
          color: #fff;
          -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.2), inset 0px 10px 10px -5px rgba(255, 255, 255, 0.2);
          -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.2), inset 0px 10px 10px -5px rgba(255, 255, 255, 0.2);
          box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.2), inset 0px 10px 10px -5px rgba(255, 255, 255, 0.2);
          background: url('../images/linen-light.png');
          border-bottom: 1px solid #42424A; }
          /* line 130, navs.css.scss */
          .tabbable.black-box .nav-tabs li.active a:hover {
            border: 1px solid #242427;
            color: #fff;
            border-bottom: 1px solid #42424A; }
  /* line 143, navs.css.scss */
  .tabbable.black-box .tab-content {
    background: url('../images/linen-light.png');
    border-top: none;
    -webkit-box-shadow: inset 1px 0px 0px rgba(255, 255, 255, 0.1), inset -1px 0px 0px rgba(255, 255, 255, 0.1), inset 0px -1px 0px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 1px 0px 0px rgba(255, 255, 255, 0.1), inset -1px 0px 0px rgba(255, 255, 255, 0.1), inset 0px -1px 0px rgba(255, 255, 255, 0.1);
    box-shadow: inset 1px 0px 0px rgba(255, 255, 255, 0.1), inset -1px 0px 0px rgba(255, 255, 255, 0.1), inset 0px -1px 0px rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 0 0;
    -moz-border-radius: 0 0 5px 5px / 0 0 5px 5px;
    border-radius: 0 0 5px 5px / 0 0 5px 5px; }
  /* line 150, navs.css.scss */
  .tabbable.black-box .separator {
    padding: 15px; }
    /* line 153, navs.css.scss */
    .tabbable.black-box .separator:last-child {
      margin-bottom: 10px; }

/* line 160, navs.css.scss */
.nav-menu {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: #f2f2f2; }
  /* line 163, navs.css.scss */
  .nav-menu i {
    font-size: 16px; }
  /* line 170, navs.css.scss */
  .nav-menu .nav-list li:first-child > a {
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0; }
  /* line 173, navs.css.scss */
  .nav-menu .nav-list li:last-child > a {
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px; }
  /* line 177, navs.css.scss */
  .nav-menu .nav-list li a {
    background: whitesmoke;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y1ZjVmNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f5f5f5));
    background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: linear-gradient(top, #ffffff, #f5f5f5);
    color: #434343;
    line-height: 25px;
    border-bottom: 1px solid #DCDCDC; }
    /* line 180, navs.css.scss */
    .nav-menu .nav-list li a i {
      color: #666; }
    /* line 184, navs.css.scss */
    .nav-menu .nav-list li a:hover {
      background: #e8e8e8;
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U4ZThlOCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
      background-size: 100%;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f2f2f2), color-stop(100%, #e8e8e8));
      background-image: -webkit-linear-gradient(top, #f2f2f2, #e8e8e8);
      background-image: -moz-linear-gradient(top, #f2f2f2, #e8e8e8);
      background-image: -o-linear-gradient(top, #f2f2f2, #e8e8e8);
      background-image: linear-gradient(top, #f2f2f2, #e8e8e8); }
    /* line 188, navs.css.scss */
    .nav-menu .nav-list li a .badge {
      margin-top: 4px; }
  /* line 193, navs.css.scss */
  .nav-menu .nav-list li a.flat {
    background: #e8e8e8; }
  /* line 197, navs.css.scss */
  .nav-menu .nav-list li a:active {
    background: gainsboro;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U2ZTZlNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RjZGNkYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e6e6e6), color-stop(100%, #dcdcdc));
    background-image: -webkit-linear-gradient(top, #e6e6e6, #dcdcdc);
    background-image: -moz-linear-gradient(top, #e6e6e6, #dcdcdc);
    background-image: -o-linear-gradient(top, #e6e6e6, #dcdcdc);
    background-image: linear-gradient(top, #e6e6e6, #dcdcdc); }
  /* line 201, navs.css.scss */
  .nav-menu .nav-list li.active a {
    -webkit-box-shadow: rgba(255, 255, 255, 0.19922) 0px 1px 0px 0px inset;
    -moz-box-shadow: rgba(255, 255, 255, 0.19922) 0px 1px 0px 0px inset;
    box-shadow: rgba(255, 255, 255, 0.19922) 0px 1px 0px 0px inset;
    background: #206ba7;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM5OWZlNCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzIwNmJhNyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #399fe4), color-stop(100%, #206ba7));
    background-image: -webkit-linear-gradient(top, #399fe4, #206ba7);
    background-image: -moz-linear-gradient(top, #399fe4, #206ba7);
    background-image: -o-linear-gradient(top, #399fe4, #206ba7);
    background-image: linear-gradient(top, #399fe4, #206ba7);
    color: #fff;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6); }
    /* line 202, navs.css.scss */
    .nav-menu .nav-list li.active a i {
      color: #fff; }
  /* line 211, navs.css.scss */
  .nav-menu .nav-list .nav-header + li a {
    border-top: 1px solid #DCDCDC; }

/* line 219, navs.css.scss */
.inner-well {
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1);
  border: 1px solid #2B2B2F;
  background: #3A3A41;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 8px; }
  /* line 226, navs.css.scss */
  .inner-well + .inner-well {
    margin-top: 10px; }
