@{
use Scabbia\Extensions\Http\Http;
use Scabbia\Extensions\I18n\I18n;
use Scabbia\Extensions\Views\Views;
use Scabbia\Request;
}
@Views::viewFile('{app}views/shared/header_plain.cshtml')

<div class="container">
  <div class="login-wrapper" style="margin-top: 120px">
    <div style="text-align: center">
      <i class="icon-magic logo-icon"></i>
    </div>

    <div id="login-manager">
      <div id="login" class="login-wrapper animated">
        <form action="@Http::url('gate/login.json')" method="post" id="loginform">
          <div class="input-group">
            <input id="email" type="text" name="login" class="logininput input-transparent" value="@Request::cookie('login', '')" placeholder="@I18n::_('Username or E-mail')" />
            <input id="password" type="password" name="password" class="logininput input-transparent" value="" placeholder="@I18n::_('Password')" />
          </div>
          <button id="login-submit" type="submit" class="login-button">@I18n::_('Sign in')</button>
        </form>
      </div>

      <div id="register" class="login-wrapper animated" style="display: none;">
        <form action="index.php" method="get">
          <div class="input-group">
            <input type="text" placeholder="@I18n::_('E-mail')" class="input-transparent" />
            <input type="text" placeholder="@I18n::_('First Name')" class="input-transparent"/>
            <input type="text" placeholder="@I18n::_('Last Name')" class="input-transparent"/>
            <input type="email" placeholder="@I18n::_('Confirm Password')" class="input-transparent"/>
            <input type="password" placeholder="@I18n::_('Password')" class="input-transparent"/>
          </div>
          <button id="register-submit" type="submit" class="login-button">@I18n::_('Register')</button>
        </form>
      </div>

      <div id="forgot" class="login-wrapper animated" style="display: none;">
        <form action="index.php" method="get">
          <div class="input-group">
            <input type="text" placeholder="@I18n::_('E-mail')" class="input-transparent" />
          </div>
          <button id="forgot-submit" type="submit" class="login-button">@I18n::_('Recover')</button>
        </form>
      </div>

      <div class="inner-well" style="text-align: center; margin: 20px 0;">
        <a href="#" id="login-link" class="button mini rounded gray"><i class="icon-signin"></i> @I18n::_('Login')</a>
        <a href="#" id="register-link" class="button mini rounded gray"><i class="icon-plus"></i> @I18n::_('Register')</a>
        <a href="#" id="forgot-link" class="button mini rounded gray"><i class="icon-question-sign"></i> @I18n::_('Forgot Password?')</a>
      </div>
    </div>
  </div>
</div>
<script type="text/html" id="template-notification">
  <div class="notification animated fadeInLeftMiddle fast{{ item.itemClass }}">
    <div class="left">
      <div style="background-image: url({{ item.imagePath }})" class="{{ item.imageClass }}"></div>
    </div>
    <div class="right">
      <div class="inner">{{ item.text }}</div>
      <div class="time">{{ item.time }}</div>
    </div>

    <i class="icon-remove-sign hide"></i>
  </div>
</script>
<script type="text/html" id="template-notifications">
  <div class="container">
    <div class="row" id="notifications-wrapper">
      <div id="notifications" class="{{ bootstrapPositionClass }} notifications animated">
        <div id="dismiss-all" class="dismiss-all button blue">@I18n::_('Dismiss all')</div>
        <div id="content">
          <div id="notes"></div>
        </div>
      </div>
    </div>
  </div>
</script>

<script type="text/javascript">
$l.ready(function() {
    var loginForm = $l('#loginform');
    var loginInput = $l('.logininput', loginForm);

    var loginCallback = function(data) {
        if(data.success) {
            location.href = data.redirection;
        } else {
            Notifications.push({
                imagePath: "../../images/cloud.png",
                text: data.error,
                autoDismiss: 10
              });
        }

        return false;
    };

    $l.dom.setEvent(
        loginInput,
        'change',
        function(ev, element) {
            $l.cookies.set('login', element.value);
        }
    );

    $l.forms.ajaxForm(
        loginForm,
        loginCallback
    );

    loginInput.focus();
});
</script>

@Views::viewFile('{app}views/shared/footer.cshtml')