@{
use Scabbia\Extensions\Http\Http;
use Scabbia\Extensions\Helpers\Html;
use Scabbia\Extensions\Helpers\String;
use Scabbia\Extensions\Session\Session;
use Scabbia\Extensions\Views\Views;
use Scabbia\Extensions\I18n\I18n;
use App\Includes\ViewHelpers;
}
@Views::viewFile('{app}views/shared/header.cshtml')
@Views::viewFile('{app}views/shared/nav/project.cshtml', $model)

<section id="main">
@Views::viewFile('{app}views/shared/top_navigation.cshtml', $model)

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span6">
                @if (!is_null($alert = Session::getFlash('alert'))) {
                <div class="alert alert-@$alert[0]">
                    @$alert[1]
                </div>
                }

                <div class="box">
                    <div class="tab-header">@I18n::_('Member Add')</div>
                    <form class="fill-up" method="post" action="@Http::url('projects/members/' . $projectId . '/add')">
                        <div class="row-fluid">
                            <div class="span12">
                                <div style="padding-right:12px;">

                                    <div class="btn-group pull-right">

                                        <a href="@Http::url('projects/members/' . $projectId)" class="button blue">@I18n::_('Member List')</a>

                                    </div>
                                </div>

                                <div class="padded">

                                    <div class="input">
                                        <label for="User" class="caption">@I18n::_('User')</label>

                                        <select name="user" id="User" placeholder="@I18n::_('User')" class="fill-up chzn-select">
                                            @Html::selectOptions($users, (int)$data['user'], 'name')
                                        </select>
                                    </div>

                                    <div class="input">
                                        <label for="RelationType" class="caption">@I18n::_('Relation Type')</label>

                                        <select name="relation" id="RelationType" placeholder="@I18n::_('Relation Type')" class="fill-up chzn-select">
                                        @if (isset($constants['project_relation_type'])) {
                                            @Html::selectOptions($constants['project_relation_type'], $data['relation'], 'name')
                                        }
                                        </select>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="pull-right">
                                <button type="submit" class="button blue">@I18n::_('Create')</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row-fluid">
@Views::viewFile('{app}views/shared/copyright.cshtml')
        </div>
    </div>
</section>

@Views::viewFile('{app}views/shared/footer.cshtml')