@{
use Scabbia\Extensions\Views\Views;
}
@Views::viewFile('{app}views/shared/header.cshtml')
@Views::viewFile('{app}views/shared/nav/manage.cshtml', $model)

<section id="main">
@Views::viewFile('{app}views/shared/top_navigation.cshtml', $model)

    <div class="container-fluid">
        <div class="row-fluid">
            @$welcomeText
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="footer">
                    <div>2012 &copy; Plastique Admin Theme</div>
                </div>
            </div>
        </div>
    </div>
</section>

@Views::viewFile('{app}views/shared/footer.cshtml')