@{
use Scabbia\Extensions\Http\Http;
use Scabbia\Extensions\Helpers\Html;
use Scabbia\Extensions\Helpers\String;
use Scabbia\Extensions\Session\Session;
use Scabbia\Extensions\Views\Views;
use Scabbia\Extensions\I18n\I18n;
use App\Includes\ViewHelpers;
}
@Views::viewFile('{app}views/shared/header.cshtml')
@Views::viewFile('{app}views/shared/nav/home.cshtml', $model)

<section id="main">
@Views::viewFile('{app}views/shared/top_navigation.cshtml', $model)

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                @if (!is_null($alert = Session::getFlash('alert'))) {
                <div class="alert alert-@$alert[0]">
                    @$alert[1]
                </div>
                }

                <div class="box" style="position:relative;">
                    <div class="tab-header">@I18n::_('My Projects')</div>

                    <table class="table table-striped tablesorter">
                        <thead>
                        <tr>
                            <th>@I18n::_('Name')</th>
                            <th>@I18n::_('Title')</th>
                            <th>@I18n::_('Relation Type')</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach ($projects as $project) {
                        <tr class="gradeX">
                            <td>@$project['name']</td>
                            <td>@$project['title']</td>
                            <td>-</td>
                            <td><div class="btn-group pull-right">

                                    <a href="@Http::url('projects/show/' . $project['id'])" class="button blue">@I18n::_('Project Page')</a>

                                    <a href="@Http::url('projects/tasks/' . $project['id'])" class="remove-button button red">@I18n::_('Tasks')</a>

                                </div></td>
                        </tr>
                        }
                        </tbody>
                    </table>
                    <div class="form-actions"> </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
@Views::viewFile('{app}views/shared/copyright.cshtml')
        </div>
    </div>
</section>

@Views::viewFile('{app}views/shared/footer.cshtml')
