@{
use Scabbia\Extensions\Http\Http;
use Scabbia\Extensions\Helpers\Date;
use Scabbia\Extensions\Helpers\Html;
use Scabbia\Extensions\Session\Session;
use Scabbia\Extensions\Views\Views;
use Scabbia\Extensions\I18n\I18n;
use App\Includes\ViewHelpers;
}
@Views::viewFile('{app}views/shared/header.cshtml')
@Views::viewFile('{app}views/shared/nav/project.cshtml', $model)

<section id="main">
@Views::viewFile('{app}views/shared/top_navigation.cshtml', $model)


    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                @if (!is_null($alert = Session::getFlash('alert'))) {
                <div class="alert alert-@$alert[0]">
                    @$alert[1]
                </div>
                }

                <div class="box" style="position:relative;">
                    <div class="tab-header">@I18n::_('Project Overview')</div>

                    <div class="tab-pane padded">
                        <div class="btn-group pull-right">
                            <a href="@Http::url('projects/tasks/' . $projectId . '/add')" class="button blue">@I18n::_('Task Add')</a>

                            <a href="@Http::url('projects/tasks/' . $project['id'])" class="button red">@I18n::_('Open Tasks')</a>
                        </div>

                        <h2>@$project['title']</h2>
                        <h4>@$project['subtitle']</h4>
                    </div>

                    <div class="padded">
                        @foreach ($data as $milestone => $tasks) {
                            <h4>@ViewHelpers::printConstant($projectConstants, 'milestone_type', $milestone)</h4>
                            @foreach ($tasks as $task) {
                                <div class="taskitem@{ if (isset($constants['closed_task_type']) && isset($constants['closed_task_type'][$task['status']])) { echo ' strike'; } }">
                                    #@$task['id'] @ViewHelpers::printTask($task)
                                    @{
                                        echo I18n::_('assigned to:') . ' ';
                                        if ((int)$task['assignee'] === 0) {
                                            echo I18n::_('no one');
                                        } else {
                                            echo ViewHelpers::printUser($users[$task['assignee']]);
                                        }
                                    }
                                </div>
                            }
                        }
                    </div>

                    <div class="form-actions"> </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
@Views::viewFile('{app}views/shared/copyright.cshtml')
        </div>
    </div>
</section>

@Views::viewFile('{app}views/shared/footer.cshtml')