AddDefaultCharset UTF-8
AddCharset utf-8 .css .js

<IfModule mod_rewrite.c>
	RewriteEngine on

	# Keep people out of framework files and scc data
	RewriteRule ^([^/]*/)*(\..+|web.config|scabbia|composer.json|composer.lock|application/?|application/.+|vendor/?|^vendor/.+)$ - [NC,F]

	# Send request via index.php (again, not if its a real file or folder)
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^ index.php [L]
</IfModule>
