@{
use Scabbia\Extensions\Http\Http;
use Scabbia\Extensions\I18n\I18n;
use App\Includes\ViewHelpers;
}
<nav id="secondary" class="main-nav">

    <div class="profile-menu">

        <div class="pull-left">
            <div class="avatar">
                <img src="@ViewHelpers::get_gravatar($controller->userBindings->user['email'], 48)" />
            </div>
        </div>

        <div class="pull-left">
            <div class="title">
                @$controller->userBindings->user['name']
            </div>
        </div>

        <div class="pull-right profile-menu-nav-collapse">
            <button class="button black"><i class="icon-reorder"></i></button>
        </div>

    </div>
    <ul class="secondary-nav-menu">
        <li@{ if ($controller->route['action'] == 'index') { echo ' class="active"'; } }><a href="@Http::url('home')"><i class="icon-dashboard"></i> @I18n::_('Dashboard')</a></li>
        <li@{ if ($controller->route['action'] == 'projects') { echo ' class="active"'; } }><a href="@Http::url('home/projects')"><i class="icon-bar-chart"></i> @I18n::_('My Projects')</a></li>
        <li@{ if ($controller->route['action'] == 'tasks') { echo ' class="active"'; } }><a href="@Http::url('home/tasks')"><i class="icon-info-sign"></i> @I18n::_('Assigned Tasks')</a></li>
    </ul>
</nav>
