@{
use Scabbia\Extensions\Http\Http;
use Scabbia\Extensions\I18n\I18n;
}
<nav id="secondary" class="main-nav">

    <div class="profile-menu">

        <div class="pull-left">
            <div class="avatar">
                <img src="@$root/assets/images/avatar.png" />
            </div>
        </div>

        <div class="pull-left">
            <div class="title">
                @$controller->userBindings->user['name']
            </div>
        </div>

        <div class="pull-right profile-menu-nav-collapse">
            <button class="button black"><i class="icon-reorder"></i></button>
        </div>

    </div>
    <ul class="secondary-nav-menu">
        <li><a href="@Http::url('manage/users')"><i class="icon-user"></i> @I18n::_('Users')</a></li>
        <li><a href="@Http::url('manage/groups')"><i class="icon-group"></i> @I18n::_('Groups')</a></li>
        <li><a href="@Http::url('manage/roles')"><i class="icon-check"></i> @I18n::_('Roles')</a></li>
        <li><a href="@Http::url('manage/constants')"><i class="icon-list"></i> @I18n::_('Constants')</a></li>
        <li><a href="@Http::url('manage/pages')"><i class="icon-list"></i> @I18n::_('Pages')</a></li>
    </ul>
</nav>
