@{
use Scabbia\Extensions\Http\Http;
use Scabbia\Extensions\I18n\I18n;
use App\Includes\ViewHelpers;
}
<nav id="secondary" class="main-nav">

    <div class="profile-menu">

        <div class="pull-left">
            <div class="avatar">
                <img src="@ViewHelpers::get_gravatar($controller->userBindings->user['email'], 48)" />
            </div>
        </div>

        <div class="pull-left">
            <div class="title">
                @$controller->userBindings->user['name']
            </div>
        </div>

        <div class="pull-right profile-menu-nav-collapse">
            <button class="button black"><i class="icon-reorder"></i></button>
        </div>

    </div>
    <ul class="secondary-nav-menu">
        <li@{ if ($controller->route['action'] == 'index') { echo ' class="active"'; } }><a href="@Http::url('projects')"><i class="icon-bar-chart"></i> @I18n::_('List All')</a></li>
        <li@{ if ($controller->route['action'] == 'add') { echo ' class="active"'; } }><a href="@Http::url('projects/add')"><i class="icon-share"></i> @I18n::_('Create New')</a></li>
        @foreach ($projects as $project) {
        <li><a href="@Http::url('projects/show/' . $project['id'])"><i class="icon-file"></i> @$project['title']</a></li>
        }
    </ul>
</nav>
