@{
use Scabbia\Extensions\Http\Http;
}
<nav id="secondary" class="main-nav">

    <div class="profile-menu">

        <div class="pull-left">
            <div class="avatar">
                <img src="@$root/assets/images/avatar.png" />
            </div>
        </div>

        <div class="pull-left">
            <div class="title">
                @$controller->userBindings->user['name']
            </div>
        </div>

        <div class="pull-right profile-menu-nav-collapse">
            <button class="button black"><i class="icon-reorder"></i></button>
        </div>

    </div>
    <ul class="secondary-nav-menu">
        <li><a href="@Http::url('projects')"><i class="icon-bar-chart"></i> List All</a></li>
        <li><a href="@Http::url('projects/add')"><i class="icon-share"></i> Create New</a></li>
        @foreach ($projects as $project) {
        <li><a href="@Http::url('projects/show/' . $project['id'])"><i class="icon-file"></i> @$project['title']</a></li>
        }
    </ul>
</nav>
