@{
use Scabbia\Extensions\Http\Http;
use Scabbia\Extensions\I18n\I18n;
use App\Includes\ViewHelpers;
}
<nav id="secondary" class="main-nav">

    <div class="profile-menu">

        <div class="pull-left">
            <div class="avatar">
                <img src="@ViewHelpers::get_gravatar($controller->userBindings->user['email'], 48)" />
            </div>
        </div>

        <div class="pull-left">
            <div class="title">
                @$controller->userBindings->user['name']
            </div>
        </div>

        <div class="pull-right profile-menu-nav-collapse">
            <button class="button black"><i class="icon-reorder"></i></button>
        </div>

    </div>
    <ul class="secondary-nav-menu">
        <li@{ if ($controller->route['action'] == 'show') { echo ' class="active"'; } }><a href="@Http::url('projects/show/' . $projectId)"><i class="icon-bar-chart"></i> @I18n::_('Overview')</a></li>
        <li@{ if ($controller->route['action'] == 'tasks' && !(count($controller->route['params']) == 2 && $controller->route['params'][1] == 'closed')) { echo ' class="active"'; } }><a href="@Http::url('projects/tasks/' . $projectId)"><i class="icon-indent-right"></i> @I18n::_('Tasks')</a></li>
        <li@{ if ($controller->route['action'] == 'tasks' && (count($controller->route['params']) == 2 && $controller->route['params'][1] == 'closed')) { echo ' class="active"'; } }><a href="@Http::url('projects/tasks/' . $projectId . '/closed')"><i class="icon-indent-left"></i>@I18n::_('Closed Tasks')</a></li>
        <li@{ if ($controller->route['action'] == 'members') { echo ' class="active"'; } }><a href="@Http::url('projects/members/' . $projectId)"><i class="icon-key"></i> @I18n::_('Members')</a></li>
        <li@{ if ($controller->route['action'] == 'constants') { echo ' class="active"'; } }><a href="@Http::url('projects/constants/' . $projectId)"><i class="icon-pencil"></i> @I18n::_('Constants')</a></li>
        <!--
        <li><a href="@Http::url('projects/add')"><i class="icon-share"></i> @I18n::_('Tasks')</a></li>
        <li><a href="@Http::url('projects/add')"><i class="icon-share"></i> @I18n::_('Roadmap')</a></li>
        <li><a href="@Http::url('projects/add')"><i class="icon-share"></i> @I18n::_('Pages')</a></li>
        <li><a href="@Http::url('projects/add')"><i class="icon-share"></i> @I18n::_('Files')</a></li>
        <li><a href="@Http::url('projects/add')"><i class="icon-share"></i> @I18n::_('Users')</a></li>
        <li><a href="@Http::url('projects/add')"><i class="icon-share"></i> @I18n::_('Settings')</a></li>
        -->
        @foreach ($pages as $pageitem) {
        <li@{ if ($controller->route['action'] == 'pages' && count($controller->route['params']) == 2 && $controller->route['params'][1] == $pageitem['name']) { echo ' class="active"'; } }><a href="@Http::url('projects/pages/' . $projectId . '/' . $pageitem['name'])"><i class="icon-file"></i> @$pageitem['title']</a></li>
        }
    </ul>
</nav>
