/* line 4, widgets/calendar.css.scss */
.external-event input {
  height: 25px;
  line-height: 25px;
  margin: 0; }
/* line 11, widgets/calendar.css.scss */
.external-event input, .external-event input:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }
