/* line 2, widgets/faq.css.scss */
.faq-questions .faq-number {
  min-width: 25px;
  display: inline-block; }
/* line 6, widgets/faq.css.scss */
.faq-questions li {
  line-height: 20px; }

/* line 12, widgets/faq.css.scss */
.faq-list .faq-number {
  display: inline-block;
  line-height: 25px;
  margin-right: 10px; }
