@{
use Scabbia\Extensions\Http\Http;
use Scabbia\Extensions\Helpers\Html;
use Scabbia\Extensions\Helpers\Date;
use Scabbia\Extensions\Helpers\String;
use Scabbia\Extensions\Session\Session;
use Scabbia\Extensions\Views\Views;
use Scabbia\Extensions\I18n\I18n;
use App\Includes\ViewHelpers;
}
@Views::viewFile('{app}views/shared/header.cshtml')
@Views::viewFile('{app}views/shared/nav/project.cshtml', $model)

<section id="main">
@Views::viewFile('{app}views/shared/top_navigation.cshtml', $model)

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                @if (!is_null($alert = Session::getFlash('alert'))) {
                <div class="alert alert-@$alert[0]">
                    @$alert[1]
                </div>
                }

                <div class="box" style="position:relative;">
                    <div class="tab-header">@I18n::_('New Task')</div>
                    <div class="padded">

                        <form class="fill-up" method="post" action="@Http::url('projects/tasks/' . $projectId . '/add')">
                            <div class="row-fluid">
                                <div class="span4">
                                    <div class="input">
                                        <label for="Type" class="caption">@I18n::_('Type')</label>
                                        <select name="type" id="Type" placeholder="Type" class="fill-up chzn-select">
                                            <option value="0">- @I18n::_('Unspecified')</option>
                                            @if (isset($constants['task_type'])) {
                                                @Html::selectOptions($constants['task_type'], (int)$data['type'], 'name')
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="span4">
                                    <div class="input">
                                        <label for="Section" class="caption">@I18n::_('Section')</label>
                                        <select name="section" id="Section" placeholder="@I18n::_('Section')" class="fill-up chzn-select">
                                        <option value="0">- @I18n::_('Unspecified')</option>
                                        @Html::selectOptions($projectConstants['section_type'], (int)$data['section'], 'name')
                                        </select>
                                    </div>
                                </div>
                                <div class="span4">
                                    <div class="input">
                                        <label for="Milestone" class="caption">@I18n::_('Milestone')</label>
                                        <select name="milestone" id="Milestone" placeholder="@I18n::_('Milestone')" class="fill-up chzn-select">
                                        <option value="0">- @I18n::_('Unspecified')</option>
                                        @Html::selectOptions($projectConstants['milestone_type'], (int)$data['milestone'], 'name')
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row-fluid" style="margin-bottom:10px;">
                                <div class="input">
                                    <label for="Name" class="caption">@I18n::_('Subject')</label>
                                    <input type="text" placeholder="@I18n::_('Subject')" name="subject" value="@String::htmlEscape($data['subject'])" />
                                </div>
                                <div class="input">
                                    <label for="Description" class="caption">@I18n::_('Description')</label>
                                    <textarea placeholder="@I18n::_('Description')" name="description" rows="6" class="cleditor">@String::htmlEscape($data['description'])</textarea>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span4">
                                    <div class="input">
                                        <label for="Status" class="caption">@I18n::_('Status')</label>
                                        <select name="status" id="Status" placeholder="@I18n::_('Status')" class="fill-up chzn-select">
                                            <option value="0">- @I18n::_('Unspecified')</option>
                                            @if (isset($constants['open_task_type'])) {
                                                <optgroup label="@I18n::_('Open')">
                                                    @Html::selectOptions($constants['open_task_type'], (int)$data['status'], 'name')
                                                </optgroup>
                                            }
                                            @if (isset($constants['closed_task_type'])) {
                                                <optgroup label="@I18n::_('Closed')">
                                                    @Html::selectOptions($constants['closed_task_type'], (int)$data['status'], 'name')
                                                </optgroup>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="span4">
                                    <div class="input">
                                        <label for="StartDate" class="caption">@I18n::_('Start Date')</label>
                                        <input name="startdate" type="text" placeholder="@I18n::_('Start Date')" class="datetimepicker fill-up" value="@ViewHelpers::printDate($data['startdate'])">
                                    </div>
                                </div>
                                <div class="span4">
                                    <div class="input">
                                        <label for="DueDate" class="caption">@I18n::_('Due Date')</label>
                                        <input name="duedate" type="text" placeholder="@I18n::_('Due Date')" class="datetimepicker fill-up" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span4">
                                    <div class="input">
                                        <label for="Priority" class="caption">@I18n::_('Priority')</label>
                                        <select name="priority" id="Priority" placeholder="@I18n::_('Priority')" class="fill-up chzn-select">
                                            <option value="0">- @I18n::_('Unspecified')</option>
                                            @if (isset($constants['priority_type'])) {
                                                @Html::selectOptions($constants['priority_type'], (int)$data['priority'], 'name')
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="span4">
                                    <div class="input">
                                        <label for="EndDate" class="caption">@I18n::_('End Date')</label>
                                        <input name="enddate" type="text" placeholder="@I18n::_('End Date')" class="datetimepicker fill-up" value="">
                                    </div>
                                </div>
                                <div class="span4">
                                    <div class="input">
                                        <label for="EstimatedTime" class="caption">@I18n::_('Estimated Time')</label>
                                        <input type="text" placeholder="@I18n::_('Estimated Time')" name="estimatedtime" value="@String::htmlEscape($data['estimatedtime'])" />
                                    </div>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span4">
                                    <div class="input">
                                        <label for="Assignee" class="caption">@I18n::_('Assignee')</label>
                                        <select name="assignee" id="Assignee" placeholder="@I18n::_('Assignee')" class="fill-up chzn-select">
                                        <option value="0">- @I18n::_('Unassigned')</option>
                                        @Html::selectOptions($users, (int)$data['assignee'], 'name')
                                        </select>
                                    </div>
                                </div>
                                <div class="span8">
                                    <div class="input">
                                        <label for="Revisions" class="caption">@I18n::_('Related Revisions')</label>
                                        <input type="text" placeholder="@I18n::_('Related Revisions')" name="revisions" value="@$data['revisions']" />
                                    </div>
                               </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="input">
                                        <label for="Relatives" class="caption">@I18n::_('Relatives')</label>
                                        <select name="relatives[]" id="Relatives" placeholder="@I18n::_('Relatives')" class="fill-up chzn-select" multiple="multiple">
                                        @foreach ($groups as $group) {
                                            <option value="g@$group['id']"@{ if (in_array('g' . $group['id'], $data['relatives'])) { echo ' selected="selected"'; } }>@$group['name']</option>
                                        }
                                        @foreach ($users as $user) {
                                            <option value="u@$user['id']"@{ if (in_array('u' . $user['id'], $data['relatives'])) { echo ' selected="selected"'; } }>@$user['name']</option>
                                        }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="pull-right">
                                    <button type="submit" class="button blue">@I18n::_('Create')</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <div class="row-fluid">
@Views::viewFile('{app}views/shared/copyright.cshtml')
            </div>
        </div>
    </div>
</section>

@Views::viewFile('{app}views/shared/footer.cshtml')