@{
use Scabbia\Extensions\Http\Http;
use Scabbia\Extensions\Helpers\Html;
use Scabbia\Extensions\Helpers\Date;
use Scabbia\Extensions\Helpers\String;
use Scabbia\Extensions\Session\Session;
use Scabbia\Extensions\Views\Views;
use App\Includes\ViewHelpers;
}
@Views::viewFile('{app}views/shared/header.cshtml')
@Views::viewFile('{app}views/shared/nav/project.cshtml', $model)

<section id="main">
@Views::viewFile('{app}views/shared/top_navigation.cshtml', $model)

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                @if (!is_null($alert = Session::getFlash('alert'))) {
                <div class="alert alert-@$alert[0]">
                    @$alert[1]
                </div>
                }

                <div class="box" style="position:relative;">
                    <div class="tab-header">Task Details</div>
                    <div class="padded">

                        <div class="row-fluid">
                            <div class="span6">
                                <div class="input">
                                    <label for="Type" class="caption">Type</label>
                                    @$constants['task_type'][(int)$data['type']]['name']
                                </div>
                            </div>
                            <div class="span6">
                                <div class="input">
                                    <label for="Section" class="caption">Section</label>
                                    @$projectConstants['section_type'][(int)$data['section']]['name']
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="input">
                                <label for="Name" class="caption">Subject</label>
                                @String::htmlEscape($data['subject'])
                            </div>
                            <div class="input">
                                <label for="Description" class="caption">Description</label>
                                @String::htmlEscape($data['description'])
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span6">
                                <div class="input" style="margin-bottom:10px;">
                                    <label for="Status" class="caption">Status</label>
                                    @if (isset($constants['open_task_type'][(int)$data['type']])) {
                                        @$constants['open_task_type'][(int)$data['type']]['name']
                                    } elseif (isset($constants['closed_task_type'][(int)$data['type']])) {
                                        @$constants['closed_task_type'][(int)$data['type']]['name']
                                    } else {
                                        Unknown
                                    }
                                </div>
                                <div class="input" style="margin-bottom:8px; margin-left:-1px;">
                                    <label for="Priority" class="caption">Priority</label>
                                    @$constants['priority_type'][(int)$data['priority']]['name']
                                </div>
                                <div class="input">
                                    <label for="Assignee" class="caption">Assignee</label>
                                    @if ((int)$data['assignee'] != 0) {
                                        @$users[(int)$data['assignee']]['name']
                                    } else {
                                        (Unassigned)
                                    }
                                </div>
                            </div>
                            <div class="span6">
                                <div class="input">
                                    <label for="StartDate" class="caption">Start Date</label>
                                    @Date::convert($data['startdate'], 'Y-m-d H:i:s', 'd/m/Y')
                                </div>

                                <div class="input" >
                                    <label for="EndDate" class="caption">End Date</label>
                                    @if ((int)$data['enddate'] != NULL) {
										@Date::convert($data['enddate'], 'Y-m-d H:i:s', 'd/m/Y')
									} else {
										(Not set)
									}
                                </div>                                
                                <div class="input" >
                                    <label for="Revisions" class="caption">Revisions</label>
                                    @$data['revisions']&nbsp;
                                </div>
                                <div class="input span3" style="margin-left:-3px;">
                                    <label for="EstimatedTime" class="caption">Estimated Time</label>
                                    @String::htmlEscape($data['estimatedtime'])
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="box" style="position:relative;">
                    <div class="tab-header">Task History</div>
                    <div class="padded">
                        @foreach ($logs as $log) {
                        <div class="row-fluid row-border">
                            <div class="span2">@$log['usersname']</div>
                            <div class="span2">@$log['description']</div>
                            <div class="span2">@date('d/m/Y H:i', Date::fromDb($log['created']))</div>
                            <div class="span6">
                                @foreach (json_decode($log['serializeddata'], true) as $key => $value) {
                                    @if ($key == 'status') {
                                        <strong>@$key</strong>:
                                        @if (isset($constants['open_task_type'][$value])) {
                                            @$constants['open_task_type'][$value]['name']
                                        } elseif (isset($constants['closed_task_type'][$value])) {
                                            @$constants['closed_task_type'][$value]['name']
                                        } else {
                                            Unknown
                                        }
                                        <br />
                                    } else {
                                        <strong>@$key</strong>: @$value<br />
                                    }
                                }
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        }
                    </div>
                </div>
            </div>
            <div class="row-fluid">
@Views::viewFile('{app}views/shared/copyright.cshtml')
            </div>
        </div>
    </div>
</section>

@Views::viewFile('{app}views/shared/footer.cshtml')