@{
use Scabbia\Extensions\Http\Http;
use Scabbia\Extensions\Helpers\Html;
use Scabbia\Extensions\Helpers\String;
use Scabbia\Extensions\Session\Session;
use Scabbia\Extensions\Views\Views;
use App\Includes\ViewHelpers;
}
@Views::viewFile('{app}views/shared/header.cshtml')
@Views::viewFile('{app}views/shared/nav/project.cshtml', $model)

<section id="main">
@Views::viewFile('{app}views/shared/top_navigation.cshtml', $model)

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                @if (!is_null($alert = Session::getFlash('alert'))) {
                <div class="alert alert-@$alert[0]">
                    @$alert[1]
                </div>
                }

                <div class="box" style="position:relative;">
                    <div class="tab-header">Edit Task</div>
                    <div class="padded">

                        <form class="fill-up" method="post" action="@Http::url('projects/tasks/' . $projectId . '/edit/' . $id)">
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="input">
                                        <label for="Type" class="caption">Type</label>
                                        <select name="type" id="Type" placeholder="Type" class="fill-up chzn-select">
                                        @Html::selectOptions($constants['task_type'], (int)$data['type'], 'name')
                                        </select>
                                    </div>
                                </div>
                                <div class="span6">
                                    <div class="input">
                                        <label for="Section" class="caption">Section</label>
                                        <select name="section" id="Section" placeholder="Section" class="fill-up chzn-select">
                                        @Html::selectOptions($projectConstants['section_type'], (int)$data['section'], 'name')
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="input">
                                    <label for="Name" class="caption">Subject</label>
                                    <input type="text" placeholder="Subject" name="subject" value="@String::htmlEscape($data['subject'])" />
                                </div>
                                <div class="input">
                                    <label for="Description" class="caption">Description</label>
                                    <textarea placeholder="Description" name="description" rows="6" class="cleditor">@String::htmlEscape($data['description'])</textarea>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="input" style="margin-bottom:10px;">
                                        <label for="Status" class="caption">Status</label>
                                        <select name="status" id="Status" placeholder="Status" class="fill-up chzn-select">
                                            <optgroup label="Open">
                                                @Html::selectOptions($constants['open_task_type'], (int)$data['type'], 'name')
                                            </optgroup>
                                            <optgroup label="Closed">
                                                @Html::selectOptions($constants['closed_task_type'], (int)$data['type'], 'name')
                                            </optgroup>
                                        </select>
                                    </div>
                                    <div class="input" style="margin-bottom:8px; margin-left:-1px;">
                                        <label for="Priority" class="caption">Priority</label>
                                        <select name="priority" id="Priority" placeholder="Priority" class="fill-up chzn-select">
                                        @Html::selectOptions($constants['priority_type'], (int)$data['priority'], 'name')
                                        </select>
                                    </div>
                                    <div class="input">
                                        <label for="Assignee" class="caption">Assignee</label>
                                        <select name="assignee" id="Assignee" placeholder="Assignee" class="fill-up chzn-select">
                                        <option value="0">(None)</option>
                                        @Html::selectOptions($users, (int)$data['assignee'], 'name')
                                        </select>
                                    </div>
                                </div>
                                <div class="span6">
                                    <div class="input">
                                        <label for="StartDate" class="caption">Start Date</label>
                                        <input id="datetimepicker" name="startdate" type="text" class="fill-up" value="@String::htmlEscape($data['startdate'])">
                                    </div>

                                    <div class="input" >
                                        <label for="EndDate" class="caption">End Date</label>
                                        <input id="datetimepicker2" name="enddate" type="text" class="fill-up" value="@String::htmlEscape($data['enddate'])">
                                    </div>
                                    <div class="input span3" style="margin-left:-3px;">
                                        <label for="EstimatedTime" class="caption">Estimated Time</label>
                                        <input type="text" placeholder="Hours" name="estimatedtime" value="@String::htmlEscape($data['estimatedtime'])" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="pull-right">
                                    <button type="submit" class="button blue">Update</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="footer">
                        <div>2012 &copy; Plastique Admin Theme</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@Views::viewFile('{app}views/shared/footer.cshtml')